<form action="/developers/add" method="post">
  <label for="genre">Developer</label>
  <input type="text" name="developer" id="developer" required />
  <button type="submit">Add Developer</button>
</form>
