<form action="/developers/add" method="post" class="developer-form">
  <label for="genre">
    <input
      placeholder="Developer"
      type="text"
      name="developer"
      id="developer"
      required
    />
  </label>
  <button type="submit">Add Developer</button>
</form>
