<form action="/games/add" method="post" enctype="multipart/form-data">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name" required />

  <label for="avatar">Image: </label>
  <input type="file" name="avatar" id="avatar" required />

  <label for="genre">Genre: </label>
  <input type="text" name="genre" id="genre" required />

  <label for="rating">Rating: </label>
  <input type="number" name="rating" id="rating" required />

  <label for="yearReleased">Year Released: </label>
  <input type="number" name="yearReleased" id="yearReleased" required />

  <label for="developer">Developer: </label>
  <input type="text" name="developer" id="developer" required />

  <label for="about">About: </label>
  <textarea name="about" id="about" rows="3" cols="15" required></textarea>

  <button type="submit">Add Game</button>
</form>
