<form
  action="/games/add"
  method="post"
  enctype="multipart/form-data"
  class="add-form"
>
  <div>
    <label for="name">
      <input placeholder="Name" type="text" name="name" id="name" required />
    </label>
  </div>

  <div>
    <label for="avatar">Image</label>
    <input type="file" name="avatar" id="avatar" required />
  </div>

  <div>
    <label for="genre">
      <input placeholder="Genre" type="text" name="genre" id="genre" required />
    </label>
  </div>

  <div>
    <label for="rating">
      <input
        placeholder="Rating"
        type="number"
        name="rating"
        id="rating"
        required
      />
    </label>
  </div>

  <div>
    <label for="yearReleased">
      <input
        placeholder="Year Released"
        type="number"
        name="yearReleased"
        id="yearReleased"
        required
      />
    </label>
  </div>

  <div>
    <label for="developer">
      <input
        placeholder="Developer"
        type="text"
        name="developer"
        id="developer"
        required
      />
    </label>
  </div>

  <div>
    <label for="about">About</label>
    <textarea name="about" id="about" rows="3" cols="15" required></textarea>
  </div>

  <button type="submit">Add Info</button>
</form>
