<form action="/genres/add" method="post" class="genre-form">
  <label for="genre">
    <input placeholder="Genre" type="text" name="genre" id="genre" required />
  </label>
  <button type="submit">Add Genre</button>
</form>
