<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header class="header">
      <!-- <h1>Game Inventory</h1> -->

      <nav>
        <a href="/">
          <span>Home</span>
        </a>
        <a href="/games">
          <span>Games</span>
        </a>
        <a href="/genres">
          <span>Genres</span>
        </a>
        <a href="/developers">
          <span>Developers</span>
        </a>
      </nav>
    </header>
  </body>
</html>
