<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/form.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <header>
        <h1><%= title %></h1>
      </header>

      <section>
        <form action="/genres/add" method="post" class="genre-form">
          <%- include('./partials/error.ejs') %>

          <label for="genre">
            <input
              placeholder="Genre"
              type="text"
              name="genre"
              id="genre"
              required
            />
          </label>
          <button type="submit">Add Genre</button>
        </form>
      </section>
    </main>
  </body>
</html>
