<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/gameCard.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main class="main">
      <header>
        <h1>Game Inventory</h1>
      </header>

      <section>
        <ul>
          <% for( let i = 0; i < storage.length; i++ ) { %> <% if (i < 3) { %>
          <li>
            <a href="/games/list/<%= storage[i].id %>"
              ><%- include('./partials/gameCard.ejs', {game: storage[i]}) %></a
            >
          </li>
          <% } %> <% } %>
        </ul>
      </section>

      <a class="view-all" href="/games">
        <span>View All</span>
      </a>
    </main>

    <footer class="footer">Mubarak</footer>
  </body>
</html>
