main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  padding: 0 var(--padding-md);
}

header {
  color: hsl(277, 95%, 15%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-sm);
}

nav a button {
  color: hsl(277, 95%, 15%);
  background-color: transparent;
  font-size: var(--text-md);
  padding: var(--padding-sm) var(--padding-md);
  border: solid;
  border-color: hsl(319, 83%, 36%);
  border-width: 2px;
  border-radius: 5px;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.15);
  cursor: pointer;
}
nav a button:hover {
  color: hsl(319, 83%, 36%);
  box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.15);
}

section {
  width: 100%;
}

section ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap-md);
}

button {
  font-size: var(--text-md);
  background-color: transparent;
  border: solid;
  border-width: 1px;
  padding: var(--padding-sm) var(--padding-md);
  cursor: pointer;
}
