main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-md);
  padding: 0 var(--padding-md);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-sm);
}
