main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  padding: 0 var(--padding-md);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-sm);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  border-radius: 5px;
  max-width: 40rem;
  padding: var(--padding-md);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.33);
}

form div {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xsm);
}

form input[type="text"],
form input[type="number"],
form input[type="password"] {
  background-color: transparent;
  font-size: var(--text-sm);
  border: none;
  border-bottom: solid;
  border-width: 1px;
  border-color: hsl(277, 95%, 15%);
  height: 2rem;
  width: 100%;
  outline: none;
}
form input:focus {
  border-color: hsl(319, 83%, 36%);
}

form textarea {
  font-size: var(--text-size-md);
  resize: none;
  padding: var(--padding-sm);
  border-radius: 5px;
  outline-color: hsl(319, 83%, 36%);
}

form button {
  color: hsl(277, 95%, 15%);
  font-size: var(--text-sm);
  background-color: transparent;
  padding: var(--padding-sm) 0;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: hsl(319, 83%, 36%);
  cursor: pointer;
}
form button:hover {
  color: white;
  background-color: hsl(319, 83%, 36%);
}

.errors {
  list-style: none;
  text-align: center;
}
