main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-md);
  padding: 0 var(--padding-md);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-sm);
}

nav a button {
  background-color: transparent;
  font-size: var(--text-md);
  padding: var(--padding-sm) var(--padding-md);
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.15);
  cursor: pointer;
}
nav a button:hover {
  box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.15);
}

section {
  width: 100%;
}

section ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap-md);
}

button {
  font-size: var(--text-md);
  background-color: transparent;
  border: solid;
  border-width: 1px;
  padding: var(--padding-sm) var(--padding-md);
  cursor: pointer;
}
