.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-md);
  gap: var(--gap-sm);
}
.header nav {
  display: flex;
  gap: var(--gap-sm);
  border-radius: 5px;
  border: solid;
  border-width: 2px;
  border-color: hsl(319, 83%, 36%);
  padding: var(--padding-md) var(--padding-md);
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.22);
}

.header nav a {
  color: hsl(277, 95%, 15%);
  text-decoration: none;
}
.header nav a:hover {
  color: hsl(319, 83%, 36%);
}

.header nav a span,
.main a span {
  font-size: var(--text-size-md);
  font-weight: bold;
  cursor: pointer;
}
.header nav a span:hover,
.main a span:hover {
  border-bottom: solid;
}
